body {
	background-image: url(./../../assets/images/png/chalkBackground.png);
	color: white;
}

.App {
	text-align: center;
}

h1 {
	font-size: 50px;
}

input {
	width: 50%;
}

.settingsSelect {
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 100%;
	flex: 0.8;
	justify-content: space-evenly;
}

.name {
	margin-bottom: 50px;
}

.category {
	margin-bottom: 30px;
}
