html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
  /* font-family: 'Poiret One', cursive; */
}

/* a {
  text-decoration: none;
} */

/************ App.js CSS  ************/
.App {
  text-align: center;
}

.hostLobby {
  background: url('./assets/images/chalkBackground-min.png');
  height: 100vh;
}

h1 {
  font-size: 5rem;
  color: #fefaf0;
  text-align: center;
  font-family: 'Poiret One', cursive;
  overflow: hidden;
  margin: 1rem;
}

input {
  width: 50%;
}

.settingsSelect {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  flex: 0.8;
  justify-content: space-evenly;
}

.name {
  margin-bottom: 50px;
}

.category {
  margin-bottom: 30px;
}

.imgContainer {
  width: 140px;
  height: 140px;
}

img {
  width: 100%;
}

/* 
  COLOUR PALETTE:

  magenta: #b91372
  teal: #41ead4
  red: #ff0022
  yellow: #fcd24f
  off-white: #fefaf0
*/

/******************** Header *********************/
.logo, 
.helpIcon {
  width: 50px;
  height: 100%;
  margin: 1rem 2rem;
  cursor: pointer;
}

.helpIcon {
  cursor: pointer;
}

header {
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}

/******************** HOME / SIGN IN ************************/
.signIn {
  background-color: #fefaf0;
  margin: 2rem 5rem;
  text-align: center;
  /* width: 65%; */
  /* height: 363px; */
  border-radius: 10px;
  border: 7px solid #41ead4;
}

.userButton {
  background: #000;
  padding: 10px;
  margin: 1rem 1rem;
  color: #fefaf0;
  border-radius: 50px;
  font-weight: 700;
  border: none;
}

.userButton:hover,
.userButton:focus {
  background: #b91372;
  color: #fefaf0;
}

.logIn {
  margin: 1rem;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logInInput {
  margin: 1rem;
}

.logIn button {
  border-radius: 50px;
  background: #b91372;
  color: #fefaf0;
  padding: 10px 20px;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  border: none;
}

.logIn button:hover,
.logIn button:focus {
  background: rgba(185, 19, 113, 0.607);
}

.logIn form {
  margin-bottom: 1rem;
}

.logIn Input {
  background: #fcd24f;
  border: none;
  border-radius: 10px;
  padding: 5px;
  width: 200px;
}

.logIn input:hover,
.logIn input:focus {
  background-color: rgba(252, 209, 79, 0.568);
  outline: none;
}

.logIn p {
  text-transform: uppercase;
  margin-bottom: 1rem;
  overflow: hidden;
}
.newPlayer {
  margin-top: 1rem;
  color: #000;
}

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 400px;
  margin-bottom: 1rem;
  margin-top: 0;
}

.robotImg {
  width: 200px;
  height: fit-content;
}

/***************** SIGN UP ******************/

.registration {
  background-color: #fefaf0;
  margin: 2rem 5rem;
  text-align: center;
  border-radius: 10px;
  border: 7px solid #41ead4;
  padding: 2rem;
}

.registration h2 {
  color: #b91372;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.registration form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labelInput {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registration label {
  color: #b91372;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.registration input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #fcd24f;
  margin-bottom: 1rem;
  outline: none;
  
}

.registration button {
  background: #b91372;
  color: #fefaf0;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  box-shadow: 4px 3px 6px rgba(0, 0, 0);
  margin-bottom: 20px;
}

.registration button:hover,
.registration button:focus {
  background: rgba(185, 19, 113, 0.607);
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.607); /* Increase shadow effect on hover or focus */
}

/***************** HOW TO ******************/
.howContainer {
  background-color: #fefaf0;
  margin: 2rem 5rem;
  /* width: 100vw; */
  border-radius: 10px;
  border :7px solid #fcd24f;
  /* padding: 20px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  left: 150px;
  top: 70px;
  width: 800px;
  height: 80vh;
}

.instructionContainer {
  position: relative;
  width: 50%;
  min-height: 300px;
  /* margin: 20px auto; */
  padding: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  
}

/* .buttonClose {
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 50%;
  position: fixed;
  right: calc(25% - 30px);
  top: 15px;
  padding: 4px;
} */

.howContainer h2 {
  color: #ff0022;
  margin-bottom: 1rem;
}

.redRobotImg {
  width: 200px;
  position: fixed;
  top: 200px;
  right: 300px;
}

.instructionContainer li {
  display: flex;
  margin: 2px;
  overflow: hidden;
}

.instructionContainer span {
  color: #ff0022;
  font-weight: 700;
  padding-right: 10px;
  width: 30px;
}

.instructionContainer p {
  margin-left: 1rem;
  overflow: hidden;
}



/********************* WELCOME ***********************/

.welcomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* text-align: center; */
}

.welcome {
  color: #fcd24f;
  font-family: 'Poiret One', cursive;
  margin-bottom: 1rem;
}

.imgContainer {
  background-color: rgba(255, 251, 240, 0.674);
  padding: 5px;
  border-radius: 50%;
  overflow: hidden;
}

.gameOptions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fefaf0;
  margin: 2rem 5rem;
  padding: 1rem;
  border-radius: 10px;
  border :2px solid #41ead4;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.pinkRobotImg {
  width: 100px;
  margin: 0 2rem;
}

.welcomeForm {
  margin: 1rem;
}

.welcomeForm input {
  background: rgba(64, 235, 212, 0.573);
  border: none;
  border-radius: 50px;
  padding: 7px;
  width: 200px;
  outline: none;
}

.joinButton, 
.createButton {
  background: #fcd24f;
  border: none;
  border-radius: 50px;
  padding: 5px;
  width: 200px;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: 3px;
  cursor: pointer;
}

.createButton:hover,
.createButton:focus {
  background: rgba(252, 209, 79, 0.8);
}




/******************** HOST GAME LOBBY ************************/
.selectOptions {
  background: #b91372;
  height: 100%;
  width: 35%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 10px solid #fefaf0;
  border-radius: 65px;
}

.chooseCategory,
.chooseDifficulty,
.chooseType {
  background: #fcd24f;
  padding: 15px;
  width: 70%;
  border-radius: 10px;
  margin: 35px auto 45px 88px;
  font-size: 25px;
  font-weight: bold;
}

.startQuizButton {
  border-radius: 50px;
  width: 30%;
  background: #41ead4;
  box-shadow: #b91372;
  padding: 10px;
  box-shadow: 4px 4px 4px navy;
  margin: 0 0 3% 30%;
  font-size: 25px;
  font-size: bold;
}

.startQuizButton:hover {
  cursor: pointer;
}

/***************** Log Out Button from HostGameLobby ****************************/
.logOutButton {
  border-radius: 50px;
  width: 8%;
  background: #41ead4;
  box-shadow: #b91372;
  padding: 10px;
  box-shadow: 4px 4px 4px navy;
  margin: 2% 0 0 45%;
  font-size: 25px;
  font-size: bold;
}

.logOutButton:hover {
  cursor: pointer;
}

/************* GAMEROOM.js CSS *******************/
.questionFromAPI {
  text-align: center;
  margin: auto;
  border: 10px solid #41ead4;
  padding: 15px;
  background: #fefaf0;
  font-size: 20px;
  width: 75%;
  height: 50%;
  border-radius: 20px;
}

.quizInfo {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 2% auto 2% auto;
  color: #fefaf0;
  font-size: 22px;
}

.quizInfo p {
  font-size: 33px;
  font-weight: bold;
  background: #fcd24f;
  color: black;
  padding: 15px;
  border-radius: 20%;
}

.quizInfo h3 {
  font-size: 33px;
  font-weight: bold;
  background: #fcd24f;
  color: black;
  padding: 15px;
  border-radius: 20%;
}

.quizInfo .countDownCounter {
  font-size: 33px;
  font-weight: bold;
  background: #fcd24f;
  color: black;
  padding: 15px;
  border-radius: 20%;
}

.questionFromAPI h3 {
  padding: 10px;
  background: #b91372;
  color: black;
  width: 25%;
  border-radius: 10px;
  margin: auto;
  font-size: 32px;
}

.questionFromAPI p {
  padding: 10px;
  font-size: 35px;
}

.questionFromAPI ul {
  padding: 21px;
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
}

.questionFromAPI li {
  padding: 10px;
  width: 50%;
  border-radius: 20px;
  margin-bottom: 20px;
  border: 10px solid #fefaf0;
}

.questionFromAPI li:hover {
  cursor: pointer;
  background-color: #41ead4;
  color: black;
  border-radius: 20px;
}

.backToHomePage {
  padding: 10px;
  background: #b91372;
  color: black;
  width: 15%;
  border-radius: 35px;
  margin: 10px auto auto 10px;
  font-size: 32px;
  text-decoration: none;
}

/* turns the correct answer green */
.correct-answer {
  background-color: green;
}
.answer-options {
  background-color: #fcd24f;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.spinner {
  overflow: hidden;
}
