html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
  /* font-family: 'Poiret One', cursive; */
}

/* a {
  text-decoration: none;
} */

/************ App.js CSS  ************/
.App {
  text-align: center;
}

.hostLobby{
  background: url('./assets/images/chalkBackground-min.png');
  height: 100vh;
}

h1{
  font-size: 5rem;
  color: #fefaf0;
  text-align: center;
  font-family: 'Poiret One', cursive;
  overflow: hidden;
  margin: 1rem;
}

input {
  width: 50%;
}

.settingsSelect {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  flex: 0.8;
  justify-content: space-evenly;
}

.name {
  margin-bottom: 50px;
}

.category {
  margin-bottom: 30px;
}

.imgContainer {
  width: 140px;
  height: 140px;
}

img {
  width: 100%;
}

/* 
  COLOUR PALETTE:

  magenta: #b91372
  teal: #41ead4
  red: #ff0022
  yellow: #fcd24f
  off-white: #fefaf0
*/

/******************** Header *********************/
.logo, 
.helpIcon {
  width: 50px;
  height: 100%;
  margin: 1rem 2rem;
  cursor: pointer;
}

.helpIcon {
  cursor: pointer;
}

header {
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}

/******************** HOME / SIGN IN ************************/
.signIn {
  background-color: #fefaf0;
  margin: 2rem 5rem;
  text-align: center;
  /* width: 65%; */
  /* height: 363px; */
  border-radius: 10px;
  border :7px solid #41ead4;
  /* overflow: hidden; */
}

.userButton {
  background:#000;
  padding: 10px;
  margin: 1rem 1rem;
  color: #fefaf0;
  border-radius: 50px;
  font-weight: 700;
  border: none;
}

.userButton:hover,
.userButton:focus {
  background:#b91372;
  color: #fefaf0;
}

.logIn {
  margin: 1rem;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logInInput {
  margin: 1rem;
}

.logIn button {
  border-radius: 50px;
  background: #b91372;
  color: #fefaf0;
  padding: 10px 20px;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  border: none;
}

.logIn button:hover,
.logIn button:focus {
  background: rgba(185, 19, 113, 0.607);
}


.logIn form {
  margin-bottom: 1rem;
}

.logIn Input {
  background: #fcd24f;
  border: none;
  border-radius: 10px;
  padding: 5px;
  width: 200px;
}

.logIn input:hover,
.logIn input:focus {
  background-color: rgba(252, 209, 79, 0.568);
  outline: none;
}

.logIn p {
  text-transform: uppercase;
  margin-bottom: 1rem;
  overflow: hidden;
}
.newPlayer {
  margin-top: 1rem;
  color: #000;
}

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 400px;
  margin-bottom: 1rem;
  margin-top: 0;
}

.robotImg {
  width: 200px;
  height: fit-content;
}

/***************** HOW TO ******************/
.howContainer {
  background-color: #fefaf0;
  margin: 2rem 5rem;
  /* width: 100vw; */
  border-radius: 10px;
  border :7px solid #fcd24f;
  /* padding: 20px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  left: 150px;
  top: 70px;
  width: 800px;
  height: 80vh;
}

.instructionContainer {
  position: relative;
  width: 50%;
  min-height: 300px;
  /* margin: 20px auto; */
  padding: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  
}

/* .buttonClose {
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 50%;
  position: fixed;
  right: calc(25% - 30px);
  top: 15px;
  padding: 4px;
} */

.howContainer h2 {
  color: #ff0022;
  margin-bottom: 1rem;
}

.redRobotImg {
  width: 200px;
  position: fixed;
  top: 200px;
  right: 300px;
}

.instructionContainer li {
  display: flex;
  margin: 2px;
  overflow: hidden;
}

.instructionContainer span {
  color: #ff0022;
  font-weight: 700;
  padding-right: 10px;
  width: 30px;
}

.instructionContainer p {
  margin-left: 1rem;
  overflow: hidden;
}



/********************* WELCOME ***********************/

.welcomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* text-align: center; */
}

.welcome {
  color: #fcd24f;
  font-family: 'Poiret One', cursive;
  margin-bottom: 1rem;
}

.imgContainer {
  background-color: rgba(255, 251, 240, 0.674);
  padding: 5px;
  border-radius: 50%;
  overflow: hidden;
}

.gameOptions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fefaf0;
  margin: 2rem 5rem;
  padding: 1rem;
  border-radius: 10px;
  border :2px solid #41ead4;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.pinkRobotImg {
  width: 100px;
  margin: 0 2rem;
}

.welcomeForm {
  margin: 1rem;
}

.welcomeForm input {
  background: rgba(64, 235, 212, 0.573);
  border: none;
  border-radius: 50px;
  padding: 7px;
  width: 200px;
  outline: none;
}

.joinButton, 
.createButton {
  background: #fcd24f;
  border: none;
  border-radius: 50px;
  padding: 5px;
  width: 200px;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: 3px;
  cursor: pointer;
}

.createButton:hover,
.createButton:focus {
  background: rgba(252, 209, 79, 0.8);
}




/******************** HOST GAME LOBBY ************************/
.selectOptions {
  background: #b91372;
  height: 100%;
  width: 50%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border :10px solid #fefaf0;
}

.chooseCategory,
.chooseDifficulty,
.chooseType {
  background:#fcd24f;
  padding: 10px;
  width: 65%;
  border-radius: 10px;
  margin: 35px auto 45px 100px;
  font-size: 20px ;
}

.startQuizButton {
    border-radius: 50px;
    width: 30%;
    background: #41ead4;
    box-shadow: #b91372;
    margin: 0 0 0 30%;
    padding: 10px;
    box-shadow: 4px 4px 4px navy;
}

/************* GAMEROOM.js CSS *******************/
.questionFromAPI {
     text-align: center;
     margin: auto;
     border :10px solid #fefaf0;
     padding: 15px;
     color: #fefaf0;
     font-size: 20px;
     width: 80%;
     height: 50%;
}

.quizInfo {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  color: #fefaf0;
  font-size: 25px;
}

.questionFromAPI h3 {
  padding: 10px;
}

.questionFromAPI p {
   padding: 10px;
}

.questionFromAPI ul {
  padding: 10px;
} 

.questionFromAPI li {
  padding: 10px;
  width: 85%;
  
}

.questionFromAPI li:hover {
  cursor: pointer;
  background-color: #fefaf0;
  color: black;
}
